name: schedule-actions
on: 
  schedule:
    - cron: 40 2,10,18 * * *
  workflow_dispatch: # Allows manual trigger from Github UI
jobs:
  build-job:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: scripts/install
      - run: git config --global user.name github-actions
      - run: git config --global user.email github-actions@github.com
      - run: npm run schedule-action
        env: 
          DKR_USER: ${{ secrets.DKR_USER }}
          DKR_PWD: ${{ secrets.DKR_PWD }}
